<div ng-click="show_detail=true" ng-show="show_calendar">
    <div ng-repeat="day in days | limitTo:2">
        <div ng-bind="day.date_formatted" class="small bright" style="clear:both;margin-bottom:10px;margin-top:20px;"></div>
        <div class="separator" style="width:100px;margin-bottom:10px"></div>
        <div ng-repeat="event in day.events" style="clear:both;overflow: hidden">
            <div style="float:left;margin-right:10px" ng-bind="event.start" class="small bright" ng-show="event.start"></div>
            <div style="float:left;" ng-bind="event.title" class="small"></div>
        </div>
    </div>
    <div ng-bind="error" ng-show="error" class="xsmall"></div>
</div>

<div ng-show="show_detail" class="modal" ng-click="show_detail=false">
    <div class="modal-content">
        <div ng-repeat="day in days">
            <div ng-bind="day.date_formatted" class="small bright" style="clear:both;margin-bottom:10px;margin-top:20px;"></div>
            <div class="separator" style="width:100px;margin-bottom:10px"></div>
            <div ng-repeat="event in day.events" style="clear:both;overflow: hidden">
                <div style="float:left;margin-right:10px" ng-bind="event.start" class="small bright" ng-show="event.start"></div>
                <div style="float:left;" ng-bind="event.title" class="small"></div>
            </div>
        </div>
    </div>
</div>

