body {
    background: #092a39;
    font-family: 'Telesans Text Regular';
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-template-areas:
    'header header'
    'active-reg monthly-reg'
    'yesterday-reg monthly-reg'
    'yesterday-sub monthly-reg';
    grid-template-columns: 25% 75%;
    height: 100vh;
}

.header {
    grid-area: header;
    background: #021b2a;
    padding: 20px;
    background-image: url('header.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.active-reg {
    margin:25px 0px 0px 25px;
    grid-area: active-reg;
}

.yesterday-reg {
    margin:25px 0px 0px 25px;
    grid-area: yesterday-reg;
}

.yesterday-sub {
    margin:25px 0px 25px 25px;
    grid-area: yesterday-sub;
}

.monthly-reg {
    margin:25px;
    grid-area: monthly-reg;
    display: flex;
    flex-direction: column;
}

.active-reg,
.yesterday-reg,
.yesterday-sub,
.monthly-reg {
    background: #021b2a;
    border-bottom: 5px solid white;
    padding: 20px;
}


.title-day {
  font-family: 'Austin News Deck Semibold';
  font-size: 28px;
  margin-top:10px;
  margin-bottom: 10px;
}

.title {
  font-family: 'Telesans Head Regular';
  font-size: 24px;
  margin-bottom:10px;
}

.data-source {
    text-transform: none;
    font-size: 14px;
}

.subtitle {
  font-family: 'Telesans Head Regular';
  font-size: 24px;
  color: #d466a1;
  margin-bottom:10px;
  text-transform: none;
}

.title-days {
  margin-top:10px;
  font-family: 'Telesans Text Regular';
  font-size: 22px;
}

.value {
    font-size: 60px;
    color: #21bea8;
    font-family: 'Austin News Text Roman';
}

.info {
  margin-top:20px;
  font-size: 24px;
}

.separator {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}


.progress-bar {
  width: 99%;
  height: 18px;
  /*border-radius: 8px;*/
  background-color: #0b3e5d;
  border-color: #aaa;
}

.progress-bar-bar {
  width: 0px;
  background-color: #fff;
  height: 100%;
  color: #fff;
  font-weight: normal;
  /*border-radius: 8px;*/
}

@font-face {
  font-family: 'Austin News Text Semibold';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Telesans Text Regular';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Austin News Text Roman';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Austin News Deck Semibold';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Telesans Head Regular';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
}
