body {
    background: #092a39;
    font-family: 'Telesans Text Regular';
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-template-areas:
    'header header'
    'active-reg monthly-reg'
    'yesterday-reg monthly-reg'
    'yesterday-sub monthly-reg';
    grid-template-columns: 25% 75%;
    grid-template-rows: 65px auto auto auto;
    height: 100vh;
}

.box-container {
    display: grid;
    grid-template-areas:
    'box-header'
    'box-content'
    'box-footer';
    grid-template-rows: auto auto 1fr;
}

.box-footer {
    align-self: end;
    grid-area: box-footer;
}

.box-header {
    grid-area: box-header;
}

.box-content {
    grid-area: box-content;
}

.header {
    grid-area: header;
    padding: 20px;
}

.spinner {
    background-image: url('spinner.svg');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}

.box-title {
    display:grid;
    grid-template-columns:auto auto;
}

.box-title .spinner {
    justify-self:end;
}

.active-reg {
    margin:0px 0px 0px 25px;
    grid-area: active-reg;
}

.yesterday-reg {
    margin:25px 0px 0px 25px;
    grid-area: yesterday-reg;
}

.yesterday-sub {
    margin:25px 0px 25px 25px;
    grid-area: yesterday-sub;
}

.monthly-reg {
    margin:0 25px 25px 25px;
    grid-area: monthly-reg;
    display: flex;
    flex-direction: column;
}

.active-reg,
.yesterday-reg,
.yesterday-sub,
.monthly-reg {
    background: #021b2a;
    border-bottom: 5px solid white;
    padding: 20px;
}

.chart-line-container {
    max-height:125px;
}

.title-day {
  font-family: 'Austin News Deck Semibold';
  font-size: 28px;
}

.title {
  font-family: 'Telesans Text Regular';
  font-size: 24px;
  margin-bottom:10px;
}

.subtitle {
  font-family: 'Telesans Text Regular';
  font-size: 24px;
  color: #FF83C9;
  margin-bottom:10px;
  text-transform: none;
}

.title-days {
  margin-top:10px;
  font-family: 'Telesans Text Regular';
  font-size: 22px;
}


.value-container {
    display:grid;
    margin-top:10px;
    margin-bottom:10px;
    grid-template-columns:auto auto;
}

.value {
    font-size: 60px;
    color: #21bea8;
    font-family: 'Austin News Text Roman';
}

.big-value {
    font-size: 90px;
    font-family: 'Austin News Deck Roman';
    color: #21bea8;
}

.data-source {
    text-transform: none;
    font-size: 14px;
    justify-self:end;
    align-self:end
}

.info {
  margin-top:20px;
  font-size: 24px;
}

.error {
  font-family: 'Telesans Text Regular';
  font-size: 24px;
  color: #FF83C9;
  margin-bottom:10px;
  text-transform: none;
}

.separator {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}


.progress-bar {
  width: 99%;
  height: 15px;
  /*border-radius: 8px;*/
  background-color: #0b3e5d;
  border-color: #aaa;
}

.progress-bar-bar {
  width: 0px;
  background-color: #fff;
  height: 100%;
  color: #fff;
  font-weight: normal;
  /*border-radius: 8px;*/
}

@font-face {
  font-family: 'Austin News Text Semibold';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Telesans Text Regular';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Text Web-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Austin News Text Roman';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Text Web-Roman.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Austin News Deck Semibold';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Austin News Deck Roman';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Roman.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Roman.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Roman.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Roman.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Roman.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Austin News Deck Web-Roman.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
}


@font-face {
  font-family: 'Telesans Head Regular';
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.woff2") format("woff2"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.ttf") format("truetype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.eot"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.svg") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/Telesans Head Web-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
}

@font-face {
  font-family:'Telesans Agate';
  font-style:'normal';
  font-weight:500;
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/TelesansAgate-Medium.eot");
  src:url("https://cf.eip.telegraph.co.uk/assets/_fonts/TelesansAgate-Medium.eot?#iefix") format("embedded-opentype"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/TelesansAgate-Medium.woff") format("woff"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/TelesansAgate-Medium.svg#TelesansAgate-Medium") format("svg"),
  url("https://cf.eip.telegraph.co.uk/assets/_fonts/TelesansAgate-Medium.ttf") format("truetype")
}
