<div ng-swipe-left="previous()" ng-swipe-right="next()" ng-click="show_detail=true">
    <div>
        <div class="large bright" style="float:left;margin-top:15px;">[[ temperature ]]°</div>
        <img width="100" ng-src="static/icons/[[ icon ]].png" style="float:left">
    </div>
    <div style="clear:both;text-transform: capitalize" ng-bind="location" class="small"></div>
    <div style="clear:both" ng-bind="summary" class="small"></div>
    <div style="clear:both">
        <div class="xsmall" style="float:left">Feels [[ feels_like ]]°</div>
        <img width="20" ng-src="static/icons/wind.png" style="float:left;margin-left:10px">
        <div class="xsmall" style="float:left">[[ wind_speed ]]mph</div>

        <img width="20" ng-src="static/icons/[[ precip_icon ]].png" style="float:left;margin-left:10px;" ng-show="precip_prob">
        <div class="xsmall" style="float:left" ng-show="precip_prob">[[ precip_prob ]]%</div>
    </div>
</div>
<div ng-show="show_detail" class="modal" ng-click="show_detail=false">
    <div class="modal-content">

        <div style="display:flex;justify-content: space-around;">
            <div ng-repeat="weather in hourly">
                <div ng-bind="weather.time" style="margin-bottom: 10px;"class="small"></div>
                <div class="small">[[ weather.temperature ]]°</div>
                <img width="50" style="margin-top:10px;" ng-src="static/icons/[[ weather.icon ]].png">
            </div>
        </div>
        <div class="separator" style="clear:both;margin-top:20px;margin-bottom:20px"></div>
       <div style="display:flex;justify-content: space-around;">
            <div ng-repeat="weather in daily">
                <div ng-bind="weather.day" style="margin-bottom: 10px;"class="small"></div>
                <div class="small">[[ weather.temperature_high ]]°</div>
                <div class="small">[[ weather.temperature_low ]]°</div>
                <img width="50" style="margin-top:10px;" ng-src="static/icons/[[ weather.icon ]].png">
                <div class="xsmall" ng-bind="weather.summary" style="width:100px"></div>
            </div>
       </div>
    </div>
</div>