<!doctype html>
<html ng-app="app">
  <head>
      <script type="text/javascript" src="{{ url_for('static', filename='angular.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='angular-chart.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='numeral.js') }}"></script>

      <script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='directives.js') }}"></script>

      <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

  </head>
  <body ng-controller="BarCtrl">

    <div class="container">
        <div class="header">
            <div class="title-day">[[ today ]] statistics</div>
        </div>
         <div class="active-reg box-container">
             <div class="box-header">
                 <div class="box-title">
                     <div class="title">Total Active Registrants</div>
                     <img ng-show="show_total_active_logged_spinner" class="spinner" src="{{ url_for('static', filename='spinner.svg') }}" />
                  </div>
                 <div class="subtitle">Active in the last 12 months</div>
             </div>
            <div class="box-container">
                 <div class="value-container">
                      <div class="value big-value">[[ total_active_logged_formatted ]]</div>
                      <div class="data-source">Source: SAM</div>
                  </div>
            </div>
             <div class="box-footer">
                 <progress-bar cur-val='total_active_logged' max-val='total_active_logged_target'></progress-bar>
                 <div class="info">%[[ total_active_logged_percentage ]] of [[ total_active_logged_target_formatted ]] </div>
             </div>
          </div>

          <div class="yesterday-reg box-container">
            <div class="box-header">
                  <div class="box-title">
                     <div class="title">Yesterday's registrations</div>
                      <img ng-show="show_yesterday_registrations_spinner" class="spinner" src="{{ url_for('static', filename='spinner.svg') }}" />
                  </div>
            </div>
            <div class="box-content">
                  <div class="value-container">
                      <div class="value">[[ yesterday_registrations ]]</div>
                      <div class="data-source">Source: SAM</div>
                  </div>

                  <div class="separator"></div>
                  <div class="title-days">[[ registrations_date_range ]]</div>
            </div>
              <div class="box-footer">
                  <div class="chart-line-container">
                      <canvas class="chart chart-line" chart-data="seven_days_registrations_data" chart-labels="chart_line_labels" chart-options="chart_line_options" chart-colors="chart_line_colors">
                      </canvas>
                  </div>
              </div>
          </div>

          <div class="yesterday-sub box-container" ng-show="show_seven_days_subscriptions_box">
                <div class="box-header">
                      <div class="box-title">
                          <div class="title">Yesterday's subscriptions</div>
                          <img ng-show="show_yesterday_subscriptions_spinner" class="spinner" src="{{ url_for('static', filename='spinner.svg') }}" />
                      </div>
                </div>
              <div class="box-content">
                  <div class="value-container">
                      <div class="value">[[ yesterday_subscriptions ]]</div>
                      <div class="data-source">Source: Starship</div>
                  </div>

                  <div class="separator"></div>
                  <div class="title-days">[[ subscriptions_date_range ]]</div>
              </div>
              <div class="box-footer">
                  <div class="chart-line-container">
                      <canvas class="chart chart-line" chart-data="seven_days_subscriptions_data" chart-labels="chart_line_labels" chart-options="chart_line_options" chart-colors="chart_line_colors">
                      </canvas>
                  </div>
              </div>
          </div>

          <div class="monthly-reg">
              <div class="box-title">
                  <div class="title">Registration Acquisitions</div>
                  <img ng-show="show_monthly_registrations_spinner" class="spinner" src="{{ url_for('static', filename='spinner.svg') }}" />
              </div>

                  <barchart height="400" data="monthly_registrations_data"></barchart>

          </div>
    </div>

  </body>
</html>